{{!< auth}}
<section class="container-fluid">
    <div class="row">
        <aside class="col-xs-1"></aside>
        <section class="content-main col-xs-10">
            {{#if title}}
                <h1 class="hidden-xs">{{title}}</h1>
            {{/if}}
            <div class="container" id="password-reset-page">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1>Reset Password</h1>

                    {{#if statusMessage}}
                        <div class="alert {{statusMessage.uiClass}}">{{statusMessage.message}}</div>
                    {{/if}}

                    {{#if message}}
                        <p class="reset-message">{{message}}</p>
                    {{/if}}

                    <form id="password-reset-form" class="reg-page" method="post">
                        <div id="message">{{passwordMessage}}</div>

                        <div class="form-group">
                            <input name="email" placeholder="Email" class="form-control" type="text" value="{{email}}" readonly />

                            <input id="token" name="token" type="hidden" value="{{token}}" />
                        </div>

                        <div class="form-group">
                            <input id="password" name="password" placeholder="New password" class="form-control" type="password" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-warning btn-lg">Save Password</button>
                        </div>
                    </form>

                    {{> loginRedirectTip}}

                </div>
            </div>
        </section>
        <aside class="col-xs-1"></aside>
    </div>
</section>